.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__video h1 {
  margin-bottom: 15px;
}

.app__bookmarks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__bookmarksContainer p {
  padding: 10px;
  margin: 15px;
  background-color: wheat;
  border-radius: 10px;
  cursor: pointer;
}

.app__bookmarksContainer p:active {
  background-color: black;
  color: white;
}

.app__video--controls {
  margin-top: 20px;
}
